<div class="container">
  <app-game-control
  (numberEvent)="onIntervalFired($event)" ></app-game-control>
  <hr>
  <app-even *ngFor="let count of evenNumber" [myValue]="count"></app-even>
  <app-odd *ngFor="let count of oddNumber" [myValue]="count"></app-odd>
  <hr>
  <app-cockpit
  (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [serverInformation]="serverElement"
      >
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'" style="color: blue">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
